---

export async function getStaticPaths(){

    const allPosts = await Astro.glob("../posts/*.md");

    const uniqueTags = [
        ...new Set (allPosts.map((post) => post.data.tags).flat())
    ];
    console.log(uniqueTags);

      return uniqueTags.map((tag) => {
        const filterdPosts = allPosts.filter((post) => 
            post.data.tags?.includes(tag),
        );

        return {
            params: { tag : tag },
            props: { posts : filterdPosts},
        };
      });
}

const { tag } = Astro.params;
const { posts } = Astro.props;


import BlogPost from "../../components/BlogPost.astro";
import Baselayout from "../../layouts/Baselayout.astro";

---



<Baselayout pageTitle = {tag}>
    <p>{tag}タグがついた記事</p>
    <ul>
        {
            
            posts.map ((post) => (
                <BlogPost url={`/posts/${post.slug}`} title={post.data.title}/> 
            ))
        }
    </ul>
</Baselayout>








